<a href="https://colab.research.google.com/github/JAYASREE1408/OST-LAB-EXPS/blob/main/1818128_JAYASREE_T_OST_EXP_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **OPEN SOURCE TOOLS LABORATORY**

---------
# **1818128_JAYASREE T**
#**âœ« EXP 3 : SIMPLE PROGRAMS IN PYTHON**

# **3 a. Write a python script to sort n numbers using lists without using built-in functions.**

In [ ]:
n=int(input("enter the number of elements:"))
print("Enter the values:")
list=[int(input()) for x in range(n)]

for i in range(0,n-1):
  for j in range(0,n-i-1):
    if(list[j]>list[j+1]):
      temp=list[j+1]
      list[j+1]=list[j]
      list[j]=temp
print("Sorted list:")
print(list)

enter the number of elements:6
Enter the values:
8
3
5
2
9
1
Sorted list:
[1, 2, 3, 5, 8, 9]

# **3 b. Write a python script to accept a list with different datatypes - int, string and float(heterogeneous) and partition it into 3 lists each of which contains same data types(homogeneous)**

In [ ]:
list1 = [1,2,3,4.0,'character','Jayasree',5.0,6]
list2=[]
list3=[]
list4=[]
for i in range(0,len(list1)):
  if type(list1[i]) is int:
    list2.append(list1[i])
  if type(list1[i]) is float:
    list3.append(list1[i])
  if type(list1[i]) is str:
    list4.append(list1[i])
print("Given list:",list1)
print("List with integer type elements",list2)
print("List with float type elements",list3)
print("List with string type type elements",list4)

Given list: [1, 2, 3, 4.0, 'character', 'Jayasree', 5.0, 6]
List with integer type elements [1, 2, 3, 6]
List with float type elements [4.0, 5.0]
List with string type type elements ['character', 'Jayasree']

# **3 c. Write a python script to create a dictionary of minimum five key/value pairs. Implement search, modification and removal of elements from the dictionary.**

In [ ]:
dict1={"101":"Aaisha","128":"Jayasree","134":"Kalpana","140":"Pradeep","158":"Sreesha"}
data=1
print(dict1)
while data==1:
  print("1.Search\n2.Modification\n3.Remove\n")
  choice=int(input("Enter your choice:"))
  if choice==1:
    key=input("Enter Key:")
    print(dict1.get(key))
  if choice==2:
    key=input("Enter Key:")
    value=input("Enter value:")
    dict1.update({key:value})
  if choice==3:
    key=input("Enter Key:")
    print(dict1.pop(key))
  print(dict1)
  data=int(input("Press 1 to continue...."))

{'101': 'Aaisha', '128': 'Jayasree', '134': 'Kalpana', '140': 'Pradeep', '158': 'Sreesha'}
1.Search
2.Modification
3.Remove

Enter your choice:1
Enter Key:128
Jayasree
{'101': 'Aaisha', '128': 'Jayasree', '134': 'Kalpana', '140': 'Pradeep', '158': 'Sreesha'}
Press 1 to continue....1
1.Search
2.Modification
3.Remove

Enter your choice:2
Enter Key:140
Enter value:Praveen
{'101': 'Aaisha', '128': 'Jayasree', '134': 'Kalpana', '140': 'Praveen', '158': 'Sreesha'}
Press 1 to continue....1
1.Search
2.Modification
3.Remove

Enter your choice:3
Enter Key:134
Kalpana
{'101': 'Aaisha', '128': 'Jayasree', '140': 'Praveen', '158': 'Sreesha'}
Press 1 to continue....0

# **3 d. Write a python script to create a tuple containing both odd and even numbers. Divide the tuple into two each of which contains odd numbers and even numbers.**

In [ ]:
t1=(2,45,67,34,25,50,99,102,144,1,6)
odd_list=[]
even_list=[]
for i in t1:
  if i%2==0:
    even_list.append(i)
  else:
    odd_list.append(i)
odd_tuple=tuple(odd_list)
even_tuple=tuple(even_list)
print("Given tuple: ",t1)
print("Even tuple: ",even_tuple)
print("Odd tuple: ",odd_tuple)

Given tuple:  (2, 45, 67, 34, 25, 50, 99, 102, 144, 1, 6)
Even tuple:  (2, 34, 50, 102, 144, 6)
Odd tuple:  (45, 67, 25, 99, 1)